  <div id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <app-topbar></app-topbar>
          <!-- End of Topbar -->
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <router-outlet></router-outlet>
            <!-- <app-dashbord></app-dashbord> -->
            <!-- button for cards -->
            <button (click)="addcard()" class="btn btn-primary" style="margin-bottom: 10px;"> click to add cards </button>

            <div class="row">
              <div class="col-xl-3 col-md-6 mb-4" *ngFor="let card of cards">
                  <app-cardbody [price]=card.price [color]=card.border [pay]=card.period [currency]=card.currency [trf]=card.trf></app-cardbody>
              </div>
            </div>
            <!-- button for table -->
            <button class="btn btn-primary" (click)=toddle() style="margin-bottom: 10px;"> 
              <span *ngIf="con==false">show</span>  
              <span *ngIf="con==true">Hide</span> table
            </button>
            <!-- table -->
            <div class="row" *ngIf=con>
              <div class="col-xl-12">
                <app-table></app-table>
            </div>
          </div>

        </div>
      </div>
      <ul>
        <li *ngFor="let temvar of list">
          {{temvar.name}} <br>
          {{temvar.number}}
        </li>
      </ul>
    </div>
  </div>
  
  </div>
